.about-columns {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text {
  padding: 16px;
  border-radius: 8px;
}

.about-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 28px;
  flex-wrap: wrap;
}

.stat-item {
  width: 140px;
  height: 140px;

  background: #f0e2bf;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 10px;

  transition: transform 0.2s ease;
}

.stat-item:hover {
  transform: translateY(-4px);
}

.stat-item span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #261413;
}

.stat-item svg {
  font-size: 22px;
  color: #452209;
}

.about-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.img-box {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .about-columns {
    flex-direction: row;
  }

  .about-left,
  .about-right {
    flex: 1;
  }

  .img-box {
    height: 260px;
  }
}

@media (min-width: 1024px) {
  .img-box {
    height: 350px;
  }

  .about-stats {
    gap: 32px;
  }

  .stat-item {
    width: 150px;
    height: 150px;
  }
}
